<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/contact_bg3.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Контакты</h1>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <h3 class="title">Город Мариуполь</h3>
            <h5 class="description">Если Вас заинтересовала наша продукция и Вы хотите создать необычный, оригинальный интерьер для любого вида помещения, будем рады сотрудничеству с Вами. Обращайтесь к нам по номеру <b>+380673599815</b> Павел Малько. Или пишите на электронную почту <b>gypsum.mariupol@gmail.com</b></h5>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>

                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Developed by
                <a href="https://angular.io/" target="_blank">Angular 5+</a>. Coded by Whirth.
            </div>
        </div>
    </footer>
</div>
