<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" [style.backgroundImage]="'url(assets/img/products/' + product.code + '/' + product.images[1] +')'">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">{{product.name}}</h1>
            </div>
        </div>
    </div>
    <div class="section section-items">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-2">
                        <a style="margin: 0" [routerLink]="['/products']" [fragment]="'product_' + product.code" class="btn btn-link"><i class="fa fa-arrow-left fa-2x" title="Назад"></i></a>
                    </div>
                    <div class="col-md-10">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/home']">Главная</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="['/products']" [fragment]="'product_' + product.code">Продукция</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ID: {{product.id}}<span class="pull-right">Код: {{product.code}}</span></li>
                            <li class="list-group-item">Размер: {{product.size}}<span class="pull-right">Цена: {{product.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Фото галлерея</h5>
                        <div class="row">
                            <div class="col-md-4"
                                 style="margin-bottom: 30px; height: 200px"
                                 *ngFor="let item of items; let i = index"
                                 (click)="lightbox.open(i)">
                                <!--<img [src]="item.data.thumb">-->
                                <!--<div class="gallery-item" [style.background]="'url(\'' + item.data.thumb + '\') 100% 100% no-repeat'" [style.background-size]="'cover'"></div>-->
                                <div class="gallery-item" [ngStyle]="{
                                 'background-image': 'url(' + item.data.thumb + ')',
                                 'background-repeat': 'no-repeat',
                                 'background-size': 'cover',
                                 'background-position': 'center',
                                 'height': '100%'
                                }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{date | date: 'yyyy'}}, Developed by
                <a href="https://angular.io/" target="_blank">Angular 5+</a>. Coded by Whirth.
            </div>
        </div>
    </footer>
</div>
