
.top-card .top-sell {
  display: block;
  position: absolute;
  background: #FF3636;
  padding: 4px 4px 4px 10px;
  right: 0;
  top: 4px;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  color: #fff;
  text-shadow: -3px 3px 6px white, 0 0 2em #FF3636
}

.card-title {
  margin: 0;
}

.card-body{
  min-height: 50px;
}

app-products {



  .header{
    height: 100vh;
    position: relative;

    .container{
      padding-top: 26vh;
      color: #FFFFFF;
      z-index: 2;
      position: relative;
    }

    .share{
      margin-top: 150px;
    }
    h1{
      font-weight: 600;
    }
    .title{
      color: #FFFFFF;
    }
  }

  .section-items {
    .top-sell {
      display: none;
    }
    .top-card .top-sell {
      display: block;
      position: absolute;
      background: red;
      padding: 4px 4px 4px 10px;
      right: 0;
      top: 4px;
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
      color: #fff;
    }
  }
}