<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/products/products_header_bg.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Продукция компании</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items">
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of items">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="assets/img/products/{{item.code}}/{{item.images[0]}}" alt="{{item.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">ID: {{item.id}}<span class="pull-right">Код: {{item.code}}</span></li>
                                <li class="list-group-item">Размер: {{item.size}}<span class="pull-right">Цена: {{item.price}}</span></li>
                            </ul>
                        </div>

                        <div class="card-footer">
                            <button (click)="gotoProduct(item.id)" class="card-link">Подробнее -></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Developed by
                <a href="https://angular.io/" target="_blank">Angular 5+</a>. Coded by Whirth.
            </div>
        </div>
    </footer>
</div>
