<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/gypum_home_bg.jpg');">

      </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/gypsum_red_logo.png" alt="Gypsum logo">
              <h1 class="h1-seo">Gypsum</h1>
              <h3>3D панели</h3>
          </div>
      </div>
  </div>

  <div class="main">
      <br />
      <br />
      <br />
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/seamless-pattern.jpg" alt="Card image">
                  </div>
                  <div class="col-md-6">
                      <h5>Бесшовный</h5>
                      <hr />
                      <p>
                          Мир, в котором мы живем, ни на чем не останавливается. Жизнь продолжает ускоряться каждый
                          день в атмосфере сложных текстур, с чем мы сталкиваемся ежедневно. Эта современная задача
                          которая привела нас к технологии 3D панелей, которая преподносит бесшовное искусство в
                          периферии Вашего повседневного быта. Наши панели обладают универсальным присутствием,
                          которое может либо плавно перетикать со стены на стену, либо нести каскад узоров с пола на
                          потолок. Вдохновите себя любопытной текстурой наших панелей и удивите ваших близких дома и
                          партнеров в офисах красотой которую несут в 21 век 3D панели.
                      </p>
                      <p>
                          Наша растущая библиотека панелей, созданная нашими архитекторами, выполнена в широком
                          спектре сред и текстур, так что, независимо от атмосферы, которую вы хотите установить, мы
                          отлично подойдем. Мы приглашаем вас выставить свое пространство с нашим продуктом для
                          незабываемых впечатлений лубины и узоров для ваших посетителей, абстрактным.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-6">
                      <h5>Глубина погружения</h5>
                      <hr />
                      <p>
                          Когда вы можете протянуть руку и коснуться чего-то, провести пальцами по углублениям и
                          канавкам, ощущая пики углов. Вы поймёте перспективу наших 3D панелей перед обоями и
                          декоративной штукатуркой. Глубина и структура гипса не просто дизайн который стоит
                          рассматривать, но и возможно осязать кончиками Ваших пальцев.
                      </p>
                      <p>
                          В нашем дизайне панелей мы придумали интересные и универсальные образцы, которые
                          впишуться в любой интерьер. Мы предлагаем всеразличные сцены,в которых части рельефа
                          панелей выступят шедевром на ваших стенах!
                      </p>
                  </div>
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/depth.jpg" alt="Card image">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/contextual-results.jpg" alt="Card image">
                  </div>
                  <div class="col-md-6">
                      <h5>Контекстуальные результаты</h5>
                      <hr />
                      <p>
                          Если Вам нравиться место, в котором Вы находитесь, но чувствуете отсутствие вдохновения от
                          невыразительной или увядшей эстетики, Вам поможет Gypsum. Выберите нужный дизайн, чтобы
                          удовлетворить Вашему вкусу, пусть это будет переплетения линий или течение бурной воды, вы
                          внесете новую, впечатляющую воображение перспективу в ваше помещение. Пусть даже это
                          займет немного больше времени, чем просто перекрасить стены.
                      </p>
                      <p>
                          Мы с гордостью представляем наш высококачественный продукт по экономичной цене, которая
                          позволяет вам делать больше возможностей, потому что мы инвестируем в потенциал наших
                          панелей. Мы верим в Gypsum, и мы хотим принести больше глубины, большего контекста и
                          большего значения для окружающего нас мира стен. Наш инвентарь и материалы полностью
                          укомплектованы, чтобы быть в вашем проекте и на стене как можно быстрее, потому что мы
                          знаем, что Вы так же нетерпеливы, как и мы хотим видеть результаты преобразования Ваших
                          помещений.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="row">
              <div class="home-numBG" style="background-image: url('assets/img/home/Highback.jpg');">&nbsp;</div>
          </div>
      </div>
      <div class="section">
          <div class="row">
              <div class="col-md-6 offset-3">
                  <h4 class="text-center">Атмосфера</h4>
                  <p class="text-center">
                      Дайте вашему пространству ощутимую индивидуальность. Усильте настроение вашего освещения и мебели, создав дополнительный размер текстуры и глубины - тот, который плавно перемещается по композиции вашей комнаты. При создании атмосферной идентичности просматривайте каждую поверхность как скульптуру. Рассмотрим углы, из которых это можно наблюдать, и знайте, что Gypsum всегда будет динамической частью этой композиции, поскольку она взаимодействует со светом.
                  </p>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="atmosphere">
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Гибкость</h4>
                      <p>
                          Создайте бесшовную сцену, в которой разговор прост, и идеи процветают. Свяжите нить непрерывности между этим местом и следующим, где элегантность и легкая встреча.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/flexibility.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/flow.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Поток</h4>
                      <p>
                          Пригласите поток сознания. Пусть ваш ум легко справится с успокаивающей атмосферой с мистикой глубоководных дюн.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Текстура</h4>
                      <p>
                          Управляйте руками через гладкую рябь, замороженную во времени. Захватите спокойную тишину воды и волн, которые облегчают ум и успокаивают душу.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/texture.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/dramatism.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Драмотизм</h4>
                      <p>
                          Сделайте заявление с ударом. Установите сцену для прорыва, возьмите смелые идеи и примите меры.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Композиция</h4>
                      <p>
                          Содействовать сотрудничеству. Слушайте и слушайтесь в пространстве, где простые идеи могут сместиться во что-то большее, композиция, которая больше, чем сумма ее частей.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/composition.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/contrast.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Контраст</h4>
                      <p>
                          Развивайте поразительную атмосферу, когда люди призваны выделиться. Окружайте себя идеальной геометрией и заострите свой ум.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Простота</h4>
                      <p>
                          Расслабьтесь и насладитесь визуальным комфортом, как никто другой. Создайте теплое и привлекательное пространство, которое поддерживает высококлассный призыв, не жертвуя приятной атмосферой.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/simplicity.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/rythym.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Ритм</h4>
                      <p>
                          Позвольте своему уму встать в ритм, сосредоточиться и стать максимально продуктивным. Освободите себя от шума и сосредоточьтесь на ритме вождения, который толкает вас.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Гравитация</h4>
                      <p>
                          Почувствуйте свободу. Отпустите себя в невесомость и постигнете то, что принесет вам счастье.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/gravity.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="#">
                          Item 1
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 2
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 3
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 4
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Developed by
              <a href="https://angular.io/" target="_blank">Angular 5+</a>. Coded by Whirth.
          </div>
      </div>
  </footer>
</div>
