<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/gypum_home_bg.jpg');">

      </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/gypsum_red_logo.png" alt="Gypsum logo">
              <h1 class="h1-seo">Gypsum</h1>
              <h3>3D панели</h3>
          </div>
      </div>
  </div>

  <div class="main">
      <br />
      <br />
      <br />
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/seamless-pattern.jpg" alt="Card image">
                  </div>
                  <div class="col-md-6">
                      <h5>Бесшовный</h5>
                      <hr />
                      <p>
                          Мир, в котором мы живем, останавливается ни на кого. Жизнь продолжает ускоряться каждый день к атмосфере сложности и требовать, чтобы мы все сталкивались ежедневно. Эта современная задача - вот что привело нас к технологии 3D панелей, модульной системе панелей, которая привносит контекстуальное искусство в периферию нашего повседневного опыта. Наши панели обладают универсальным присутствием, которое варьируется от дополнительной сплоченности проточного зала, до драматического воздействия установки с пола на потолок. Вдохновите любопытство и объедините занятые умы сегодняшнего мира с проверенным временем технологии 3D панелей.
                      </p>
                      <p>
                          Наша растущая библиотека панелей, созданная нашими собственными архитекторами, выполнена в широком спектре сред и текстур, так что, независимо от атмосферы, которую вы хотите установить, мы отлично подойдем. Мы приглашаем вас выставить свое пространство с нашим прочным, постоянным, без проблем продуктом, чтобы обеспечить незабываемый эстетический опыт с реальной глубиной.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-6">
                      <h5>Глубина погружения</h5>
                      <hr />
                      <p>
                          Когда вы можете протянуть руку и прикоснуться к чему-то, проведите пальцами по канавкам, расположите пики по углам и сдвиньте свою перспективу, вот когда вы преодолеете разрыв с представлением перед опытом. Наши скульптурные панели не являются репрезентативными для чего-то другого, а являются самодостаточным физическим выражением. Глубина и текстура гипса - это не просто продуманный дизайн для наблюдения, а активный опыт, в который вы автоматически включаетесь.
                      </p>
                      <p>
                          В наших панельных конструкциях мы разработали интересные и универсальные шаблоны, которые учитывают их контекст. Мы представляем сцены, в которых эти части, в конечном счете, будут частью, так что окончательный вид - это тщательный шедевр алебастра, а не безрассудное использование «копии» и «вставки».
                      </p>
                  </div>
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/depth.jpg" alt="Card image">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-6">
                      <img class="card-img-left img-responsive" src="assets/img/home/contextual-results.jpg" alt="Card image">
                  </div>
                  <div class="col-md-6">
                      <h5>Контекстуальные результаты</h5>
                      <hr />
                      <p>
                          Если вам нравится место, в котором вы находитесь, но чувствуете недостаток вдохновения от безликой или выцветшей эстетики, вам нужен Gypsum. Выбирайте подходящий дизайн в соответствии с вашим вкусом, будь то фокальный или плавный, и вырезайте бесшовную картину за немного больше времени, чем потребуется, чтобы перекрасить.
                      </p>
                      <p>
                          Мы с гордостью представляем наш высококачественный продукт по экономичной цене, которая позволяет вам делать большие вещи, потому что мы инвестируем в потенциал наших панелей. Мы верим в Gypsum, и мы хотим принести больше глубины, большего контекста и большего значения для окружающего нас мира стен. Наш инвентарь загрунтован, чтобы двигаться, чтобы быть в вашем проекте и на стене как можно быстрее, потому что мы знаем, что вы так же нетерпеливы, как мы должны видеть результаты преобразования.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="row">
              <div class="home-numBG" style="background-image: url('assets/img/home/Highback.jpg');">&nbsp;</div>
          </div>
      </div>
      <div class="section">
          <div class="row">
              <div class="col-md-6 offset-3">
                  <h4 class="text-center">Атмосфера</h4>
                  <p class="text-center">
                      Дайте вашему пространству ощутимую индивидуальность. Усильте настроение вашего освещения и мебели, создав дополнительный размер текстуры и глубины - тот, который плавно перемещается по композиции вашей комнаты. При создании атмосферной идентичности просматривайте каждую поверхность как скульптуру. Рассмотрим углы, из которых это можно наблюдать, и знайте, что Gypsum всегда будет динамической частью этой композиции, поскольку она взаимодействует со светом.
                  </p>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="atmosphere">
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Гибкость</h4>
                      <p>
                          Создайте бесшовную сцену, в которой разговор прост, и идеи процветают. Свяжите нить непрерывности между этим местом и следующим, где элегантность и легкая встреча.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/flexibility.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/flow.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Поток</h4>
                      <p>
                          Пригласите поток сознания. Пусть ваш ум легко справится с успокаивающей атмосферой с мистикой глубоководных дюн.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Текстура</h4>
                      <p>
                          Управляйте руками через гладкую рябь, замороженную во времени. Захватите спокойную тишину воды и волн, которые облегчают ум и успокаивают душу.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/texture.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/dramatism.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Драмотизм</h4>
                      <p>
                          Сделайте заявление с ударом. Установите сцену для прорыва, возьмите смелые идеи и примите меры.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Композиция</h4>
                      <p>
                          Содействовать сотрудничеству. Слушайте и слушайтесь в пространстве, где простые идеи могут сместиться во что-то большее, композиция, которая больше, чем сумма ее частей.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/composition.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/contrast.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Контраст</h4>
                      <p>
                          Развивайте поразительную атмосферу, когда люди призваны выделиться. Окружайте себя идеальной геометрией и заострите свой ум.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Простота</h4>
                      <p>
                          Расслабьтесь и насладитесь визуальным комфортом, как никто другой. Создайте теплое и привлекательное пространство, которое поддерживает высококлассный призыв, не жертвуя приятной атмосферой.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/simplicity.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/rythym.jpg" alt="flexibility">
                  </div>
                  <div class="col-md-4">
                      <h4 class="text-center">Ритм</h4>
                      <p>
                          Позвольте своему уму встать в ритм, сосредоточиться и стать максимально продуктивным. Освободите себя от шума и сосредоточьтесь на ритме вождения, который толкает вас.
                      </p>
                  </div>
              </div>
              <br />
              <br />
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="text-center">Гравитация</h4>
                      <p>
                          Почувствуйте свободу. Отпустите себя в невесомость и постигнете то, что принесет вам счастье.
                      </p>
                  </div>
                  <div class="col-md-8">
                      <img class="img-responsive rounded img-raised img-thumbnail" src="assets/img/home/gravity.jpg" alt="flexibility">
                  </div>
              </div>
              <br />
              <br />
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="#">
                          Item 1
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 2
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 3
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Item 4
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Developed by
              <a href="https://angular.io/" target="_blank">Angular 5+</a>. Coded by Whirth.
          </div>
      </div>
  </footer>
</div>
